Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-CORS==4.0.0
Flask-JWT-Extended==4.6.0
bcrypt==4.1.2
ReportLab==4.0.4
fuzzywuzzy==0.18.0
qrcode==7.4.2
python-dotenv==1.0.0
easyocr==1.7.1
spacy==3.7.2
python-multipart==0.0.6
pdf2image==1.16.3

